<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrieren</title>
</head>

<body>
    <h1>Registrieren</h1>
    <form method="post" action="/user/register">
        <label for="firstname">Vorname</label>
        <input type="text" name="firstname" id="firstname">
        <label for="lastname">Nachname</label>
        <input type="text" name="lastname" id="lastname">
        <label for="username">E-Mail</label>
        <input type="text" name="username" id="username">
        <label for="password">Passwort</label>
        <input type="text" name="password" id="password">
        <button type="submit">Submit</button>
    </form>
    <script src="/js/helpers.js"></script>
    <script src="/js/user.js"></script>
</body>

</html>